// Color variables:
$primary-color: #a974ff;
$primary-color-hover: #bf9aef;

$black-color: #101010;
$blacker-color: #000000;
$blackish-color: #253034;

$gray-color: #a4b6e1;
$light-gray-color: #f4f4f6;

$white-color: #ffffff;

// font:
$main-font: "Poppins", sans-serif;
